<div #modalConfirm class="modal fade" id="confirmModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ contentModal?.title }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
          </div>
          <div class="modal-body">
            {{ contentModal?.content }}
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="onClick(false)" >Non</button>
            <button type="button" class="btn btn-success" (click)="onClick(true)">Oui</button>
          </div>
        </div>
    </div>
  </div>
  